<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Studerende</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-grid.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>

<div class="topnav">
    <a href="/">StudentAdmin</a>
    <a class="active" href="/students">Studerende</a>
    <a href="/courses">Kurser</a>
    <a href="/exercises">Opgaver</a>
    <a href="/exams">Eksamener</a>
    <a href="/teachers">Undervisere</a>
</div>

<div class="container" style="padding-left:0px">
    <div class="row">
        <div class="col">

            <h1>Studerende</h1>

            <h2>- Se og rediger</h2>

            <p>&nbsp</p>

            <div class="box1">

                <h3>Stamoplysninger</h3>

                 <p>Navn: <span th:text="${student.student_name}"></span></p>
            </div>

            <p>&nbsp</p>

            <div class="box1">

                <h3>Kurser som denne studerende har:</h3>

                <span th:each="course :${coursesWithStudent}">
                <a class="link1" th:href="@{'/course-view/' + ${course.course_id}}"><span th:text="${course.course_title}">Name</span></a><br>
                </span>
            </div>

            <p>&nbsp</p>

            <div class="box1">

                <h3>Eksamener som denne studerende har:</h3>

                <span th:each="exam :${examsWithStudent}">
                <a class="link1" th:href="@{'/exam-view/' + ${exam.exam_id}}"><span th:text="${exam.exam_title}">Name</span></a><br>
                </span>
            </div>

        </div>

        <div class="col">

            <p>&nbsp</p>

            <div class="box1">

                <h3>Rediger stamoplysninger</h3>
                <form action="/updateStudent" method="post">
                    Navn:<br>
                    <input type="hidden" name="student_id" size="30" th:value="${student.student_id}">
                    <input type="text" name="student_name" size="30" th:value="${student.student_name}"><br>&nbsp<br>
                    <input type="submit" value="Opdater">
                </form>
            </div>

            <p>&nbsp</p>

            <div class="box1">

                <h3>Rediger kursus tilmelding</h3>

                <div class="row">
                    <div class="col">
                        <div class="box1b">

                            <h4>Tilføj</h4>

                            <span th:each="course :${coursesWithoutStudent}">
                            <a class="link1" th:href="@{'/student-addcourse/' + ${course.course_id}}"><span th:text="${course.course_title}">Name</span></a><br>
                            </span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="box1b">

                            <h4>Fjern</h4>

                            <span th:each="course :${coursesWithStudent}">
                            <a class="link1" th:href="@{'/student-deletecourse/' + ${course.course_id}}"><span th:text="${course.course_title}">Name</span></a><br>
                            </span>
                        </div>
                    </div>
                </div>

            </div>

            <p>&nbsp</p>

            <div class="box1">

                <h3>Rediger eksamens tilmelding</h3>


                        <div class="box1b">

                            <h4>Tilføj</h4>

                            <span th:each="exam :${examsWithoutStudent}">
                            <a class="link1" th:href="@{'/student-addexam/' + ${exam.exam_id}}"><span th:text="${exam.exam_title}">Name</span></a><br>
                            </span>
                        </div>
                   <br>&nbsp<br>
                        <div class="box1b">

                            <h4>Fjern</h4>

                            <span th:each="exam :${examsWithStudent}">
                <a class="link1" th:href="@{'/student-deleteexam/' + ${exam.exam_id}}"><span th:text="${exam.exam_title}">Name</span></a><br>
                </span>
                        </div>

            </div>

            <p>&nbsp</p>

            <div class="box1">

                <h3 style="color: darkred">Slet denne studerende fra systemet</h3>
                <form action="/deleteStudent" method="post">
                    <input type="hidden" name="student_id" size="30" th:value="${student.student_id}">
                    <input type="hidden" name="student_name" size="30" th:value="${student.student_name}">
                    <input type="submit" value="Slet">
                </form>
            </div>

        </div>
    </div>
</div>




</body>
</html>