<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Studerende</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-grid.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>

<div class="topnav">
    <a href="/">StudentAdmin</a>
    <a class="active" href="/students">Studerende</a>
    <a href="/courses">Kurser</a>
    <a href="/exercises">Opgaver</a>
    <a href="/exams">Eksamener</a>
    <a href="/teachers">Undervisere</a>
</div>



<div class="container" style="padding-left:0px">
    <div class="row">
        <div class="col">

            <h1>Studerende</h1>

            <h2>- Oprettelse, søgning og oversigt</h2>

            <p>&nbsp</p>

            <div class="box1">

                <h3>Opret ny studerende</h3>

                <h5>(Nye studerende tilmeldes automatisk alle kurser og eksamener)</h5>

                <form action="/createStudent" method="post">
                    <input type="text" name="student_name" size="30" placeholder="Navn">
                    <input type="submit" value="Opret">
                </form>
            </div>

            <p>&nbsp</p>

        </div>

        <div class="col">

            <p>&nbsp</p>

            <div class="box1">

                <h3>Søg efter studerende</h3>
                <form action="/searchStudent" method="post">
                    <input type="text" name="student_name" size="30" placeholder="Navn">
                    <input type="submit" value="Søg">
                </form>

                <h3 style="color: darkred">Ingen match fundet!</h3>

                <p>- Prøv at søge igen eller kig i oversigtslisten nedenfor</p>

            </div>

            <p>&nbsp</p>

            <div class="box1">

                <h3>Liste over alle studerende</h3>

                <p>- Klik på navn for at se og redigere en studerende</p>

                <span th:each="student :${studentList}">
                <a class="link1" th:href="@{'/student-view/' + ${student.student_id}}"><span th:text="${student.student_name}">Name</span></a><br>
                </span>

            </div>

        </div>
    </div>
</div>


</body>
</html>