<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Eksamener</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-grid.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>

<div class="topnav">
    <a href="/">StudentAdmin</a>
    <a href="/students">Studerende</a>
    <a href="/courses">Kurser</a>
    <a href="/exercises">Opgaver</a>
    <a class="active" href="/exams">Eksamener</a>
    <a href="/teachers">Undervisere</a>
</div>

<div class="container" style="padding-left:0px">
    <div class="row">
        <div class="col">

            <h1>Eksamener</h1>

            <h2>- Se og rediger</h2>

            <p>&nbsp</p>

            <div class="box1">

                <h3>Stamoplysninger</h3>

                <p>Navn: <span th:text="${exam.exam_title}"></span></p>
                <p>Type: <span th:text="${exam.exam_type}"></span></p>
            </div>

            <p>&nbsp</p>

            <div class="box1">

                <h3>Kurser tilknyttet denne eksamen:</h3>

                <span th:each="course :${coursesWithExam}">
                <a class="link1" th:href="@{'/course-view/' + ${course.course_id}}"><span th:text="${course.course_title}">Name</span></a><br>
                </span>
            </div>



        </div>

        <div class="col">

            <p>&nbsp</p>

            <div class="box1">

                <h3>Rediger stamoplysninger</h3>
                <form action="/updateExam" method="post">
                    <input type="hidden" name="exam_id" size="30" th:value="${exam.exam_id}">
                    Navn:<br>
                    <input type="text" name="exam_title" size="30" th:value="${exam.exam_title}"><br>&nbsp<br>
                    Type:<br>
                    <input type="text" name="exam_type" size="30" th:value="${exam.exam_type}"><br>&nbsp<br>
                    <input type="submit" value="Opdater">
                </form>
            </div>

            <p>&nbsp</p>

            <div class="box1">

                <h3>Rediger kursus tilknytning</h3>

                <div class="row">
                    <div class="col">
                        <div class="box1b">

                            <h4>Tilføj</h4>

                            <span th:each="course :${coursesWithoutExam}">
                            <a class="link1" th:href="@{'/exam-addcourse/' + ${course.course_id}}"><span th:text="${course.course_title}">Name</span></a><br>
                            </span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="box1b">

                            <h4>Fjern</h4>

                            <span th:each="course :${coursesWithExam}">
                <a class="link1" th:href="@{'/exam-deletecourse/' + ${course.course_id}}"><span th:text="${course.course_title}">Name</span></a><br>
                </span>
                        </div>
                    </div>
                </div>

            </div>

            <p>&nbsp</p>

            <div class="box1">

                <h3 style="color: darkred">Slet denne eksamen fra systemet</h3>
                <form action="/deleteExam" method="post">
                    <input type="hidden" name="exam_id" size="30" th:value="${exam.exam_id}">
                    <input type="hidden" name="exam_title" size="30" th:value="${exam.exam_title}">
                    <input type="submit" value="Slet">
                </form>
            </div>

        </div>
    </div>
</div>




</body>
</html>