<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Eksamener</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-grid.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>

<div class="topnav">
    <a href="/">StudentAdmin</a>
    <a href="/students">Studerende</a>
    <a href="/courses">Kurser</a>
    <a href="/exercises">Opgaver</a>
    <a class="active" href="/exams">Eksamener</a>
    <a href="/teachers">Undervisere</a>
</div>



<div class="container" style="padding-left:0px">
    <div class="row">
        <div class="col">

            <h1>Eksamener</h1>

            <h2>- Oprettelse, søgning og oversigt</h2>

            <p>&nbsp</p>

            <div class="box1">

                <h3>Opret ny eksamen</h3>
                <form action="/createExam" method="post">
                    <input type="text" name="exam_title" size="30" placeholder="Navn"><br>
                    <input type="text" name="exam_type" size="30" placeholder="Type"><br>
                    <input type="submit" value="Opret">
                </form>
            </div>

            <p>&nbsp</p>

        </div>

        <div class="col">

            <p>&nbsp</p>

            <div class="box1">

                <h3>Søg efter eksamen</h3>
                <form action="/searchExam" method="post">
                    <input type="text" name="exam_title" size="30" placeholder="Navn">
                    <input type="submit" value="Søg">
                </form>

                <h3 style="color: darkred">Ingen match fundet!</h3>

                <p>- Prøv at søge igen eller kig i oversigtslisten nedenfor</p>

            </div>

            <p>&nbsp</p>

            <div class="box1">

                <h3>Liste over alle eksamenere</h3>

                <p>- Klik på navn for at se og redigere en eksamen</p>

                <span th:each="exam :${examList}">
                <a class="link1" th:href="@{'/exam-view/' + ${exam.exam_id}}"><span th:text="${exam.exam_title}">Name</span></a><br>
                </span>

            </div>

        </div>
    </div>
</div>


</body>
</html>