<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/styleemilie.css}"/>
    <title>Index</title>
</head>
<body>

<div class="topnav">
    <a class="active" href="/">StudentAdmin</a>
    <a href="/">StudentAdmin</a>
    <a href="/students">Studerende</a>
    <a href="/cources">Kurser</a>
    <a href="/exercises">Opgaver</a>
    <a href="/exams">Eksamener</a>
    <a href="/teachers">Undervisere</a>
</div>

<h1>Under konstruktion!</h1>
<h2>Herfra skal medarbejderne kunne logge ind</h2>
<p>Denne del af programmet er endnu ikke implementeret</p>



</body>
</html>