<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Studerende</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-grid.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>

<div class="topnav">
    <a class="active" href="/">StudentAdmin</a>
    <a href="/students">Studerende</a>
    <a href="/cources">Kurser</a>
    <a href="/exercises">Opgaver</a>
    <a href="/exams">Eksamener</a>
    <a href="/teachers">Undervisere</a>
</div>

<h1>Under konstruktion!</h1>
<h2>Evt. statistik for systemet</h2>
<p>Denne del er endnu ikke implementeret</p>



</body>
</html>